/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@font-face {
    font-family: 'Circular';
    src: url("fonts\\Circular\\CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    src: url("fonts\\Circular\\CircularStd-Bold.otf") format("opentype");
}


*{
    font-family: 'Circular';
    font: #1A1A1A;
}
header{
    position: fixed;
    width: 100%;
    background-color: #FFF;

}
main{
    padding-top: 4vmin;
}
nav{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3vmin;
}
ul{
    padding-left: 68vw;
    display: flex;
    
}
li{
    display: flex;
    padding-left: 1vw;
    
    
}
li>*{
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 100;

}

nav>div>img{
    height: 7vmin;
    width: 21vmin;

}
main>section:nth-child(1){
    color: #FFF;
    background-image:url(images/landing.jpg);
    margin-left: -1vmin;
    background-size: 100% 100%;;
    background-repeat: no-repeat;
    height: 95vmin;
    text-align: center;
    
}

section:nth-child(1)>h1{
    font-size: 5vmin;
    padding-top: 25vmin;
}

section:nth-child(1)>h2{
    font-size:2vmin;
    font-weight: 100;
    
}











section:nth-child(2){
    display: flex;
    text-align: center;
    margin-top: 1vmin;

    margin-bottom: 3vmin;
}
section:nth-child(2)>h2{
    text-decoration: #00B172 underline;
    float: right;
    position: absolute;
    margin-left: 43vw;


    
}

section:nth-child(2)>article{
    margin-top: 13vmin;
    width: 33%;

    
}

section:nth-child(2)>article>h3{
    color: #00B172;

    
}

section:nth-child(2)>article>h4{
    color: #1A1A1A;
    font-weight: 100;
    width: 10vw;
    padding-left: 11vw;
    
}

section:nth-child(2)>article>div>img{
    width: 20%;

    
}




















section:nth-child(3){
    background-image: url(images/spotify-icon-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vmin;
    position: absolute;
    background-color: #00B172;
    color: #FFF;
    margin: 2vmin;
    width: 96vw;
    height: 70vmin;
    display: flex;
}


section:nth-child(3)>section:nth-child(1){
    padding-top: 3vmin;
    padding-left: 5vw;
}

section:nth-child(3)>section:nth-child(1)>h2{
    font-size: 2vw;
    text-decoration: underline;
    padding-bottom: 3vmin;
}

section:nth-child(3)>section:nth-child(1)>div>h4{
    width: 20vw;
    font-weight: 100;
}

.grande{
    position: absolute;
    height: 50vmin;
    padding-left: 48vw;
    padding-top: 10vmin;
}